@import "../../common/colors.scss";

.movie-section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    color: $primary-font;
    font-weight: 400;
}

.movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: $secondary-font;
    display: flex;

    span {
        margin-right: 20px;
    }
}

.movie-title {
    font-size: 40px;
    color: $primary-font;
}

.movie-plot {
    margin-top: 20px;
    line-height: 1.8rem;
}

.movie-info>div span:first-child {
    padding: 10px 0px;
    color: $primary-font;
    font-weight: 600;
    width: 100px;
    display: inline-block;
}

.movie-info>div span {
    color: $secondary-font;
}

.fa-star {
    color: #ff9e00;
}

.fa-thumbs-up {
    color: #fafafa;
}

.fa-film {
    color: rgb(191, 213, 214);
}

.fa-calendar {
    color: peachpuff;
}

.section-right {
    margin-left: 30px;
}