@import '../../common/colors.scss';

.movie-list, .show-list {
    margin: 20px 0px;
    h2{
        color: $secondary-font;
        margin-bottom: 10px;
        font-weight: 400;
    }
}

.movies-error, .shows-error{
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: center;
    h3{
        color: $primary-font;
    }
}

.movie-wrapper {
    min-height: 80vh;
}