@import '../../common/colors.scss';

.footer {
    background: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-font;
    flex-direction: column;
    text-align: center;

    .logo {
        color: $primary-font;
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.5s;
        text-shadow: 0.5px 2px 3px #9e9c9c;
        
        &:hover {
            transform: scale(1.02);
        }

        span {
            color: #0d6efd;
        }
    }
}